.footer {
    background-color: #999;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer .footer-desc {
    font-size: 0.8rem;
    text-transform: capitalize;
    font-weight: 600;
}
