@import "../component/Card-component/style/CardComponent.css";
@import "../component/Footer-component/style/FooterComponent.css";
@import "../component/Header-component/style/HeaderComponent.css";
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
